#root,
html,
body {
  margin: 0;
  padding-top: 5%;
  padding-right: 90px;
  padding-left: 90px;
  padding-bottom: 5%;
  box-sizing: border-box;
  /* text-align: center; */
  background-color: rgba(0, 0, 0, 0.678);
}

.App {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.678);
  color: aliceblue;
}
/* .form {
  text-align: center;
} */
.input {
  height: 20px;
}
